@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Добро пожаловать в ShopLite</h1>
    <p>Мой первый MVC-проект с ветками Git 🎯</p>
    <p>в проекте подключена система контроля версий</p>
</div>
